body {
    background-color: #D8DCE3;
}

#loginbox {
    max-width: 540px;
    margin-top: 50px;
}

.navbar {
    border-radius: unset;
}

.panel-heading {
    background-color: #2A2A2A;
    border-color: #2A2A2A;
    color: white;
}

.panel-body {
    margin-bottom: 10px;
    padding-top: 30px;
}
