body {
    background-color: #D8DCE3;
}

#loginbox .panel-body {
    padding-top: 30px;
}

#loginbox .input-group {
    margin-bottom: 25px;
}

#registerbox,
#loginbox {
    max-width: 540px;
    margin-top: 50px;
}

#registerbox .form-group,
#loginbox .form-group {
    margin-top: 10px;
}

.form-horizontal .form-group {
    margin-left: auto;
    margin-right: auto;
}

#register {
    font-size: 0.8em;
}

#submit {
    margin-left: 5px;
}

.navbar {
    border-radius: unset;
}

.panel-heading {
    background-color: #2A2A2A;
    border-color: #2A2A2A;
    color: white;
}

.panel-body {
    background-color: white;
}

td > a {
    display: block;
}
